@import "../../util/variables.module.scss";

.navbar {
  // border-top: 1px solid grey;
  // border-bottom: 1px solid grey;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.navbar_section_full {
  border: 1px solid $white-color;
  margin-right: 20px;
  padding: 8px 20px;
  border-radius: 10px;
  transition: margin 0.5s;
  margin-left: 100px;
  display: flex;
  justify-content: flex-end;
  gap: 10;
  background-color: $white-color;
  box-shadow: 3px 1px 12px 0px $grey-color;
}

.navbar_section {
  border: 1px solid $white-color;
  margin-right: 20px;
  padding: 8px 20px;
  border-radius: 10px;
  margin-left: 250px;
  transition: margin 0.5s;
  display: flex;
  justify-content: flex-end;
  gap: 10;
  background-color: $white-color;
  box-shadow: 3px 1px 12px 0px $grey-color;
}
